<form novalidate [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Reactive Kontaktformular</h3>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                    <small [hidden]="personFormGroup.get('name')?.untouched || !personFormGroup.get('name')?.hasError('required')" class="text-danger">
                        Name ist ein Pflichtfeld!
                    </small>
                    @if (personFormGroup.get('name')?.hasError('minlength')) {
                        <small class="text-danger">
                            Name muss mindestens {{ personFormGroup.get('name')?.errors?.['minlength'].requiredLength }} Zeichen lang sein!
                            Aktuelle Zeichenlänge: {{ personFormGroup.get('name')?.errors?.['minlength'].actualLength }}
                        </small>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <div class="form-group">
                    <label for="company">Firma</label>
                    <input type="text" class="form-control" id="company" name="company" formControlName="company">
                    <small [hidden]="personFormGroup.get('company')?.untouched || !personFormGroup.get('company')?.hasError('required')" class="text-danger">
                        Firma ist ein Pflichtfeld!
                    </small>
                    @if (personFormGroup.get('company')?.hasError('company')) {
                        <small class="text-danger">
                            {{ personFormGroup.get('company')?.errors?.['company'] }}
                        </small>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="age">Alter</label>
                    <input type="text" class="form-control" id="age" name="age" formControlName="age">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <label for="power">Power</label>
                    <select class="form-control" id="power" name="power" formControlName="power">
                        <option *ngFor="let power of powers" [value]="power">{{ power }}</option>
                    </select>
                    <small [hidden]="personFormGroup.get('power')?.untouched || !personFormGroup.get('power')?.hasError('required')" class="text-danger">
                        Power ist ein Pflichtfeld!
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-2">
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" id="password" name="password" formControlName="password">
                    <small [hidden]="personFormGroup.get('password')?.untouched || !personFormGroup.get('password')?.hasError('required')" class="text-danger">
                        Passwort ist ein Pflichtfeld!
                    </small>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <div class="form-group">
                    <label for="password-repeat">Passwort wiederholen</label>
                    <input type="password" class="form-control" id="password-repeat" name="password-repeat" formControlName="passwordRepeat">
                    @if (personFormGroup.hasError('password-repeat')) {
                        <small class="text-danger">
                            {{ personFormGroup.errors?.['password-repeat'] }}
                        </small>
                    }
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-end">
                <button type="reset" class="btn btn-default">Abbrechen</button>
                <button type="submit" class="btn btn-success" [disabled]="personFormGroup.invalid">Senden</button>
            </div>
        </div>
    </div>
</form>

<pre>
{{ submitted }}
{{ diagnostic }}
</pre>