<ul>
    @for (todo of todos().sort(); track todo) {
        <li>
            <input type="checkbox" [checked]="todo.isCompleted" (change)="completeTodo($index, $event)">
            <span [ngClass]="getTodoItemStyle(todo)" (click)="editTodo($index)" (keydown)="editTodo($index)" tabindex="0">
                {{todo.text | myUpperCase }} - {{todo.priority}}
            </span>
            <button (click)="removeTodo($index)">X</button>
        </li>
    } @empty {
        <li>Keine Todos vorhanden</li>
    }
</ul>