@if (isEditMode()) {
    <h3>Todo bearbeiten:</h3>
    <input type="text" [value]="todoText()" (change)="changeTodoText($event)" appAutoInputWidth="200">
    <select [value]="priority()" (change)="changePriority($event)">
        <option value="low">Niedrig</option>
        <option value="normal">Normal</option>
        <option value="high">Hoch</option>
    </select>
    <button (click)="updateTodo()">OK</button>
} @else {
    <h3>Neues Todo:</h3>
    <input type="text" [value]="todoText()" (change)="changeTodoText($event)" [appAutoInputWidth]="200">
    <select [value]="priority()" (change)="changePriority($event)">
        <option value="low">Niedrig</option>
        <option value="normal">Normal</option>
        <option value="high">Hoch</option>
    </select>
    <button (click)="addTodo()">OK</button>
}

<app-list-box
    [todos]="todos"
    (completeTodoChanged)="completeTodo($event.todoIndex, $event.isCompleted)"
    (editTodoClicked)="editTodo($event)"
    (removeTodoClicked)="removeTodo($event)"
/>

<h3>{{jokeText()}}</h3>